<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="public/styles/styles.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <ul class="nav-bar-ul">
        <li class="nav-item"><a href="/"> Home </a></li>
        <li class="nav-item"><a href="/about"> About </a></li>
        <li class="nav-item"><a href="/work"> Work </a></li>
        <li class="nav-item"><a href="/gallery"> Photo Gallery </a></li>
      </ul>
    </nav>
    <div class="div-container">
      <h1>About Jane Goodall</h1>
      <p>
        Equipped with little more than a notebook, binoculars, and her
        fascination with wildlife, Jane Goodall braved a realm of unknowns to
        give the world a remarkable window into humankind’s closest living
        relatives. Through nearly 60 years of groundbreaking work, Dr. Jane
        Goodall has not only shown us the urgent need to protect chimpanzees
        from extinction; she has also redefined species conservation to include
        the needs of local people and the environment. Today she travels the
        world, speaking about the threats facing chimpanzees and environmental
        crises, urging each of us to take action on behalf of all living things
        and planet we share.
      </p>
    </div>
  </body>
</html>
