<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo gallery</title>
    <link rel="stylesheet" href="public/styles/styles.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <ul class="nav-bar-ul">
        <li class="nav-item"><a href="/"> Home </a></li>
        <li class="nav-item"><a href="/about"> About </a></li>
        <li class="nav-item"><a href="/work"> Work </a></li>
        <li class="nav-item"><a href="/gallery"> Photo Gallery </a></li>
      </ul>
    </nav>

    <div class="gallery">
      <div class="gal-item">
        <img src="public/images/young-jane-1.jpeg" alt="Jane Goodall with sitting chimp" />
      </div>
      <div class="gal-item">
        <img src="public/images/young-jane-2.jpeg" alt="View in the valley" />
      </div>
      <div class="gal-item">
        <img src="public/images/young-jane.jpeg" alt="Jane Goodall with binoculars" />
      </div>
      <div class="gal-item">
        <img src="public/images/younger-jane.jpeg" alt="Jane Goodall with chimp while eating bananas" />
      </div>
      <div class="gal-item"><img src="public/images/jane-1.jpeg" alt="Portrait of Jane Goodall" /></div>
      <div class="gal-item"><img src="public/images/jane-3.jpeg" alt="Jane Goodall observing chimp in the jungle" /></div>
    </div>
  </body>
</html>
