<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="public/styles/styles.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <ul class="nav-bar-ul">
        <li class="nav-item"><a href="/"> Home </a></li>
        <li class="nav-item"><a href="/about"> About </a></li>
        <li class="nav-item"><a href="/work"> Work </a></li>
        <li class="nav-item"><a href="/gallery"> Photo Gallery </a></li>
      </ul>
    </nav>
    <div class="div-container">
      <h1>Jane Goodall</h1>
      <p>
        Jane Goodall is a British primatologist, ethologist and anthropologist.
        She is also the UN Messenger of Peace. She is the world's foremost
        expert on chimpanzees. Goodall is best known for her 45-year study of
        social and family interactions of wild chimpanzees in Gombe Stream
        National Park, Tanzania. She is the founder of the Jane Goodall
        Institute and has worked extensively on conservation and animal welfare
        issues.
      </p>
      <img
        src="public/images/Jane-Goodall.jpeg"
        alt="Jane Goodall and the chimp"
      />
    </div>
  </body>
</html>
