<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
    <link rel="stylesheet" href="public/styles/styles.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <ul class="nav-bar-ul">
        <li class="nav-item"><a href="/"> Home </a></li>
        <li class="nav-item"><a href="/about"> About </a></li>
        <li class="nav-item"><a href="/work"> Work </a></li>
        <li class="nav-item"><a href="/gallery"> Photo Gallery </a></li>
      </ul>
    </nav>
    <div class="div-container">
      <h2>As a scientist</h2>
      <p>
        When Jane Goodall entered the forest of Gombe, the world knew very
        little about chimpanzees, and even less about their unique genetic
        kinship to humans. She took an unorthodox approach in her field
        research, immersing herself in their habitat and their lives to
        experience their complex society as a neighbor rather than a distant
        observer and coming to understand them not only as a species, but also
        as individuals with emotions and long-term bonds. Dr. Jane Goodall’s
        discovery in 1960 that chimpanzees make and use tools is considered one
        of the greatest achievements of twentieth-century scholarship. Her field
        research at Gombe transformed our understanding of chimpanzees and
        redefined the relationship between humans and animals in ways that
        continue to emanate around the world.
      </p>
    </div>
    <div class="div-container">
      <h2>As a conservationist</h2>
      <p>
        On the path to becoming the world’s leading primatologist, Dr. Jane
        Goodall redefined traditional conservation. In 1977, she founded the
        Jane Goodall Institute to support the research in Gombe and scale up the
        protection of chimpanzees in their habitats. In the late 1980s, it
        became clear that Gombe was only part of the solution to a much bigger,
        rapidly growing problem of deforestation and declining chimpanzee
        populations across Africa. Knowing that local communities are key to
        protecting chimpanzees, she redefined traditional conservation with an
        approach that recognizes the central role people play in the well-being
        of animals and habitat. In 1991, when a group of young people confided
        their own deep concerns, she invited them to co-found Roots & Shoots, a
        program at work with young people in 100 countries to foster the
        informed generation of conservation leaders our world so urgently needs.
      </p>
    </div>
    <div class="div-container">
      <h2>As a peacemaker</h2>
      <p>
        Today, Dr. Jane Goodall travels around the world, writing, speaking and
        spreading hope through action, encouraging each of us to “use the gift
        of our life to make the world a better place. “As a conservationist,
        humanitarian and crusader for the ethical treatment of animals, she is a
        global force for compassion and a UN Messenger of Peace.
      </p>
    </div>
    <div class="div-container">
      <h2>As a mentor</h2>
      <p>
        Every day, Dr. Jane Goodall exemplifies the difference one person can
        make. Over the years, her groundbreaking research at Gombe has attracted
        many women, who were nearly absent from the field of primatology when
        she began. Today, women lead the field of long-term primate behavioral
        studies around the world. She also inspires hundreds of thousands of
        young people to take action in their own lives and communities through
        the Roots & Shoots youth program. Now 100 countries strong and growing,
        Roots & Shoots is an unprecedented multiplying force in conservation,
        giving young people the knowledge and confidence to act on their beliefs
        and make a difference by being part of something bigger than themselves.
      </p>
    </div>
  </body>
</html>
